<div class="container">
  <b>Hello {{userFromLocalStorage.name}} </b>
  <br>
  These are your Statuses

  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngFor="let status of userStatuses">
        <div class="card shadow-sm mb-4 rounded-0">
          <div class="card-body">
            <div class="card-body-content">
              <p class="text-left active-status bg-skill-tag">
                {{status.privacyStatusType == 'PRIVATE' ? 'Private' : 'Public'}}
              </p>

              <h5 class="card-title font-weight-bold">{{status.user.name}}</h5>
              <p class="card-text course-subtitle mb-md-2">{{status.statusMessage}}</p>
              <ul class="list-unstyled card-text" role="list">
                <li><span>Checked In at </span>{{status.location.location}}</li>
                <li><span>Last updated </span>{{status.updateTime | date:'medium'}}</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <br>
      <br>
    </div>

  </div>
</div>
