<div>
  <form (ngSubmit)="onStatusPost()">
    <div>
      <input maxlength="70" type="text" [(ngModel)]="status.statusMessage" name="statusMessage" placeholder="Type your status" class="form-control mt-2 mb-2"><br><br>
<!--      <input maxlength="80" type="password" [(ngModel)]="status." name="password" placeholder="Enter the password" class="form-control mt-2 mb-2"><br><br>-->
    </div>
    <br>
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="isSubmittingInProcess">Post Status</button>
  </form>
</div>
