<div class="container mt-5">
  <form (ngSubmit)="onStatusPostUpdate()">
    <div class="mt-2 mb-2">
      <label for="pinned" class="" *ngIf="status.userStatusId > 0">
        <input type="checkbox" [(ngModel)]="pinned" name="pinned" id="pinned">
        <span class="ml-1"> Pin Status</span>
      </label>
    </div>
    <br>
    <div>
      <input maxlength="70" type="text" [(ngModel)]="status.statusMessage" name="statusMessage" placeholder="Type your status" class="form-control mt-2 mb-2"><br>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="locationDropdown" class="font-weight-bold">Select Location</label>
          <select class="form-control custom-select required" name="disabilityType" id="locationDropdown"
                  [(ngModel)]="status.location.locationId"
                  role="listbox"
          >
            <option selected value="" disabled aria-hidden="true"></option>
            <option [attr.id]="locationObj.locationId"
                    role="option" [ngValue]="locationObj.locationId" *ngFor="let locationObj of locations"
            >
              {{locationObj.location}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div>
      <label for="locationDropdown" class="font-weight-bold">Select Privacy Type</label><br>

      <div class="custom-control custom-control-inline custom-radio">
        <input id="publicStatusTypeChckId" class="custom-control-input" [(ngModel)]="status.privacyStatusType" type="radio"
               name="privacyStatusType" value="PUBLIC">
        <label class="custom-control-label" for="publicStatusTypeChckId" > Public </label>
      </div>
      <div class="custom-control custom-control-inline custom-radio">
        <input class="custom-control-input" [(ngModel)]="status.privacyStatusType" type="radio" id="privateStatusTypeChckId"
               name="privacyStatusType" value="PRIVATE" >
        <label class="custom-control-label" for="privateStatusTypeChckId">Private</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4 mx-auto">
        <button type="submit" class="btn btn-lg btn-primary btn-block" *ngIf="status.userStatusId == null">
          Post Status</button>
        <button type="submit" class="btn btn-lg btn-primary btn-block" *ngIf="status.userStatusId > 0">
          Update Status</button>
      </div>
    </div>

  </form>
</div>
