<div class="">
  <div class="row mt-5">
    <div class="form-group col-md-12">
      <div *ngIf="userFromLocalStorage == null">
        <div class="col-md-2 m-1">
          <button type="button" class="btn btn-success" (click)="goToUserAuth()"><i
            class="fas fa-times fa-fw"></i>Sign In
          </button>
        </div>


        <div class="col-md-2 m-1">
          <button type="button" class="btn btn-success " (click)="goToUserCreate()"><i
            class="fas fa-times fa-fw"></i>Sign Up
          </button>
        </div>

      </div>

      <div *ngIf="userFromLocalStorage">
        <div class="col-md-2 m-1">
          <button type="button" class="btn btn-success " (click)="goToUserStatusCreate()"><i
            class="fas fa-times fa-fw"></i>Create New Post
          </button>
        </div>

        <div class="col-md-2 m-1">
          <button type="button" class="btn btn-success " (click)="goToUserProfile()"><i
            class="fas fa-times fa-fw"></i>Hello {{userFromLocalStorage.name}}
          </button>
        </div>

        <div class="col-md-2 m-1">
          <button type="button" class="btn btn-success " (click)="doLogOut()"><i
            class="fas fa-times fa-fw"></i>Log Out
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-sm table-striped">
        <thead>
        <tr>
          <th scope="col">{{' Name'}}</th>
          <th scope="col">{{'status'}}</th>
          <th scope="col">{{'location'}}</th>
          <th scope="col">{{'createdAt'}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let status of userStatuses; index as i">
          <td>{{ status.user.name }}</td>
          <td>{{ status.statusMessage }}</td>
          <td>{{ status.location.location }}</td>
          <td>{{ status.createdAt }}</td>

        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
